body {
  margin: 0;
  min-height: 100vh;
  background: black;
  font-family: "Times new roman", sans-serif;
  font-weight: 100;
  color: white;
}

.flex {
  display: flex;
  gap: 2vw;
}

.large {
  width: 75%;
}
.small {
  width: 25%;
}

.left {
  width: 65%;
}

.right {
  widht: 35%;
}

.image img, .stages img {
  max-width: 100%;
}


h1 {
  font-family:"Impact", sans-serif;
  font-size: 4em;
}
h2 {
  font-family:"Impact", sans-serif;
}
h6 {
  text-align:center;
}
h3, h4, h5, h6 {
  font-family: "Times New Roman", sans-serif;
}
a {
  color: white;
}

a:visited {
  text-decoration: line-through;
}

header {
  background-image: url('images/multi.jpg');
  background-size: cover;
  padding: 10vw 20vw;
}
header h1 {
  background-color: black;
  padding: 15px;
  text-align: center;
}
header h2{
  background-color: black;
  padding: 10px;
  text-align: center;
}
section {
border-bottom: 1px solid white;
padding: 30px 20vw;
}
